/* Base styles */

body{
    font-family: sans-serif;
    margin: 0;
    background: #FFDDAB;
    color: #522C1B;
}

header {
  position: relative;
  text-align: center;
  padding: 2rem 1rem;
  background-color: #945034;
  color: white;
}

.sun {
  width: 60px;
  height: 60px;
  background: #FFD166;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  box-shadow: 0 0 30px #FFD166;
}

.city-builder {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 8px;
  background-color: #5F8B4C; /* soft green */
  border: 2px solid #FF9A9A; /* soft pink */
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

